<div class="container" style="text-align: center;">
  <div><h1>Contactformulier</h1></div>
  <div><h6>Vul hieronder je gegevens in</h6></div>
  <form>
      <label>Voornaam</label>
      <input type="text" name="voornaam"><br />
      <label>Naam</label>
      <input type="text" name="naam"><br />
      <label>Email</label>
      <input type="email" name="email"><br />
      <label>GSM-nummer</label>
      <input type="text" name="gsmnummer"><br>
      <label>Adres</label>
      <input type="text"><br>
      <label>Stad</label>
      <input type="text"><br>
      <label>Postcode</label>
      <input type="number"><br><br>
      <button>Verzend</button>
    </form>
</div>